body {
  margin: 0;
  padding: 0;
  height: 90vh;
}

#particles-js {
  height: 100%;
  background: #b1a6a4;
}

html {
  scroll-behavior: smooth;
}

.hidden {
  opacity: 0;
  transition: all 10s;
}

.show {
  opacity: 1;
}



.animateme {
  animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
